<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/burger/public/css/style.css" type="text/css" />
    <title>Node Express with Burgers!</title>
    <script src="/burger/public/js/burger.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>